{
  "openapi": "3.1.0",
  "info": {
    "title": "Fleetless API",
    "version": "1",
    "description": "Generated from the route manifest the cloud is tested against. Request and response shapes are the same JSON Schemas the platform validates with."
  },
  "servers": [
    {
      "url": "https://api.fleetless.dev"
    }
  ],
  "tags": [
    {
      "name": "health",
      "description": "Health"
    },
    {
      "name": "developer-auth",
      "description": "Developer auth"
    },
    {
      "name": "client-auth",
      "description": "App-user (client) auth"
    },
    {
      "name": "org",
      "description": "Org"
    },
    {
      "name": "users",
      "description": "Team"
    },
    {
      "name": "apps",
      "description": "Apps"
    },
    {
      "name": "robots",
      "description": "Robots"
    },
    {
      "name": "config",
      "description": "Configuration (draft/publish)"
    },
    {
      "name": "alerts",
      "description": "Alerts"
    },
    {
      "name": "commands",
      "description": "Commands (jobs, publishers)"
    },
    {
      "name": "cameras",
      "description": "Cameras"
    },
    {
      "name": "assets",
      "description": "Assets (URDF, meshes)"
    },
    {
      "name": "mcp",
      "description": "MCP"
    },
    {
      "name": "transports",
      "description": "Realtime and bridge transports"
    }
  ],
  "paths": {
    "/api/auth/signup": {
      "post": {
        "operationId": "post_api_auth_signup",
        "summary": "Creates an org and its founding Owner, and answers a developer session.",
        "tags": [
          "developer-auth"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sign-up-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `rate_limited`, `signup_closed`, `validation_error`, `email_taken`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "While the deployment runs in closed beta this answers `403 signup_closed` before it looks at the body — there is nothing for a validation message, or an `email_taken` answer, to be right about when nothing will be created. Email is globally unique, so an address already registered in any org is refused.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sign-up-request"
              }
            }
          }
        }
      }
    },
    "/api/auth/refresh": {
      "post": {
        "operationId": "post_api_auth_refresh",
        "summary": "Rotates a developer refresh token and mints a fresh access token.",
        "tags": [
          "developer-auth"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/session-tokens"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `rate_limited`, `validation_error`, `token_expired`, `token_revoked`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "The whole family is re-checked here, not just the token: an account that has been removed from the org, or whose `token_version` was bumped by a password change, cannot mint a fresh console token and answers `token_revoked`. Refusing that only on the other routes would leave a session that is dead everywhere but here.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/refresh-request"
              }
            }
          }
        }
      }
    },
    "/api/auth/logout": {
      "post": {
        "operationId": "post_api_auth_logout",
        "summary": "Revokes the whole refresh family behind a developer refresh token.",
        "tags": [
          "developer-auth"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "204": {
            "description": "Success."
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `rate_limited`, `validation_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Unauthenticated by design — the refresh token in the body is the credential. A token the server does not recognise is still a `204`: the end state a caller asked for is the end state they get, and distinguishing the two would say whether a token ever existed. Open `/realtime` sockets for the session are closed too.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/refresh-request"
              }
            }
          }
        }
      }
    },
    "/api/auth/me": {
      "get": {
        "operationId": "get_api_auth_me",
        "summary": "Answers the calling developer and the org they belong to.",
        "tags": [
          "developer-auth"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/auth-me-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patch_api_auth_me",
        "summary": "Changes the calling developer's own display name and nothing else.",
        "tags": [
          "developer-auth"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/auth-me-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `validation_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "No Owner tier: this can only ever touch the caller's own row, so there is nothing for a tier check to gate. Saving the name already held writes nothing and records no audit event — the org activity stream reaches every developer with the console open, and an event for a no-op would misreport that something changed.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/patch-auth-me-request"
              }
            }
          }
        }
      }
    },
    "/api/auth/password/change": {
      "post": {
        "operationId": "post_api_auth_password_change",
        "summary": "Verifies the current password, sets a new one and answers a fresh session.",
        "tags": [
          "developer-auth"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/session-tokens"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `validation_error`, `invalid_credentials`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Every session of this account ends, including the caller's — the request carries nothing identifying its own refresh family, so there is none to spare. The answer is a working replacement pair, which is what the promise has to mean when nothing distinguishes one session from another.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/password-change-request"
              }
            }
          }
        }
      }
    },
    "/api/auth/password/reset": {
      "post": {
        "operationId": "post_api_auth_password_reset",
        "summary": "Mails a password-reset link to the address, and answers the same either way.",
        "tags": [
          "developer-auth"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "202": {
            "description": "Success."
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `rate_limited`, `validation_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Status, body and timing are identical for a known and an unknown address — any difference is an account-enumeration oracle, which is why the unknown branch still pays a real SMTP round trip to a discard address. An account provisioned through OIDC has no Fleetless password and is mailed nothing. A browser form post gets a `303` to the \"check your mail\" card instead of this `202`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/password-reset-request"
              }
            }
          }
        }
      }
    },
    "/api/auth/password/reset/confirm": {
      "post": {
        "operationId": "post_api_auth_password_reset_confirm",
        "summary": "Spends a reset token, sets the new password and ends every session of the account.",
        "tags": [
          "developer-auth"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "204": {
            "description": "Success."
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `rate_limited`, `validation_error`, `token_spent`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Unknown, spent and expired tokens all answer `410 token_spent`. Sessions are revoked under the account's actual kind — a console admin holds developer sessions, an app user holds end-user ones — so an app user's open `/realtime` socket does not outlive the reset. A browser form post gets the rendered \"done\" page instead of this `204`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/password-reset-confirm"
              }
            }
          }
        }
      }
    },
    "/api/waitlist": {
      "post": {
        "operationId": "post_api_waitlist",
        "summary": "Adds an address to the closed-beta waiting list.",
        "tags": [
          "developer-auth"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "202": {
            "description": "Success."
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `rate_limited`, `validation_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Answers `202` whether or not the address was already listed: the landing page's form must not be an oracle for who signed up. The operator notification is detached from the response — awaiting it made latency answer the question the status code refuses to — and is capped by its own global ceiling, above which the row is still written and the mail is skipped.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/waitlist-request"
              }
            }
          }
        }
      }
    },
    "/api/audit": {
      "get": {
        "operationId": "get_api_audit",
        "summary": "Reads the org's audit log, newest first, cursor-paged over the durable sequence number.",
        "tags": [
          "org"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "before_seq",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "pattern": "^\\d{1,19}$"
                },
                {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                }
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "pattern": "^\\d{1,4}$"
                },
                {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                }
              ]
            }
          },
          {
            "name": "action",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 80
            }
          },
          {
            "name": "action_prefix",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 80
            }
          },
          {
            "name": "actor_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          },
          {
            "name": "target_kind",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 40
            }
          },
          {
            "name": "from_ms",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "pattern": "^\\d{1,15}$"
                },
                {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                }
              ]
            }
          },
          {
            "name": "to_ms",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "pattern": "^\\d{1,15}$"
                },
                {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/audit-list-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `validation_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "`action` and `action_prefix` are mutually exclusive, a cross-field rule no JSON Schema can express — this route is where it is enforced. Nothing redacts an event's `details`: it is returned exactly as the call site wrote it."
      }
    },
    "/api/audit/export": {
      "get": {
        "operationId": "get_api_audit_export",
        "summary": "Downloads every audit event matching the same filters as a CSV attachment.",
        "tags": [
          "org"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "before_seq",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "pattern": "^\\d{1,19}$"
                },
                {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                }
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "pattern": "^\\d{1,4}$"
                },
                {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                }
              ]
            }
          },
          {
            "name": "action",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 80
            }
          },
          {
            "name": "action_prefix",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 80
            }
          },
          {
            "name": "actor_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          },
          {
            "name": "target_kind",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 40
            }
          },
          {
            "name": "from_ms",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "pattern": "^\\d{1,15}$"
                },
                {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                }
              ]
            }
          },
          {
            "name": "to_ms",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "pattern": "^\\d{1,15}$"
                },
                {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `validation_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Answers `text/csv; charset=utf-8` with a `Content-Disposition` attachment, not JSON — so it has no response schema. `AUDIT_CSV_COLUMNS` names the columns and their order. Takes the same filters as `GET /api/audit` but refuses `before_seq` and `limit` with `400 validation_error`: an export is not a page, it is everything the filter matches up to a fixed row ceiling."
      }
    },
    "/api/apps": {
      "post": {
        "operationId": "post_api_apps",
        "summary": "Creates an app, optionally attaching robots to it at the same time.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `validation_error`, `identifier_taken`, `quota_exceeded`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Every robot id is checked before anything is created, so a bad one never leaves a robotless app to clean up. The identifier `mcp` is reserved by the central MCP server and refused as a `validation_error`. An app belongs to the org and to nothing inside it: the group an app used to be created in, and the `409 target_state_conflict` that refused the Org Admins one, are both gone with the group model.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create-app-request"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "get_api_apps",
        "summary": "Lists every app in the caller's org.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app-list-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Answers `{ \"apps\": [app, …] }` — the whole org, unpaged; an org's app count is bounded by quota."
      }
    },
    "/api/apps/{id}": {
      "get": {
        "operationId": "get_api_apps_id",
        "summary": "Reads one app of the org, with its robots and default role.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "An app belonging to another org reads exactly like one that does not exist — `404`, never a `403`."
      },
      "patch": {
        "operationId": "patch_api_apps_id",
        "summary": "Changes an app's name, its attached robots or its default role.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `validation_error`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "A `default_role_id` naming a role of another app is refused: it is the one cross-app authorization check this shape can carry. Changing the robot set closes every live subscription the app's users hold, since a grant may no longer name a reachable robot.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/update-app-request"
              }
            }
          }
        }
      }
    },
    "/api/apps/{id}/roles": {
      "post": {
        "operationId": "post_api_apps_id_roles",
        "summary": "Creates a custom role on the app.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/role"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `not_found`, `validation_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "The body is `{ \"name\": string }` — non-empty, trimmed, at most 120 characters — and is deliberately not a contract shape: contracts define the `role` this answers with, not this one trivial request. **The answer is a bare `role`, not an envelope**, unlike the listing beside it."
      },
      "get": {
        "operationId": "get_api_apps_id_roles",
        "summary": "Lists the app's roles, builtin and custom.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/role-list-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Answers `{ \"roles\": [role, …] }`, builtin roles included — a role a developer never created is still one a user can hold."
      }
    },
    "/api/apps/{id}/roles/{roleId}/permissions": {
      "put": {
        "operationId": "put_api_apps_id_roles_roleId_permissions",
        "summary": "Replaces a role's grants and capabilities in one write.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "description": "The role's uuid, from `GET /api/apps/:id/roles`; a role of another app answers `404`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/role-permissions"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `not_found`, `validation_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "`role_id` in the body must name the role in the path, compared case-insensitively — a uuid is a value, not a string, and a client that uppercases them consistently must not be refused for repeating what the path says. A grant naming a robot the app does not have is refused rather than stored: a permission for something the role cannot reach reads as authoritative to whoever writes the next consumer. Every user holding this role has their live subscriptions re-authorized.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/role-permissions"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "get_api_apps_id_roles_roleId_permissions",
        "summary": "Reads a role's grants and capabilities.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "description": "The role's uuid, from `GET /api/apps/:id/roles`; a role of another app answers `404`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/role-permissions"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        }
      }
    },
    "/api/apps/{id}/roles/{roleId}/mcp-tools": {
      "get": {
        "operationId": "get_api_apps_id_roles_roleId_mcp_tools",
        "summary": "Previews the robot datasheets an MCP caller holding this role would be offered.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "description": "The role's uuid, from `GET /api/apps/:id/roles`; a role of another app answers `404`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcp-role-preview-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Built by the same builder the MCP server's own `robot_describe` uses, so the two cannot drift. It answers what the role *would* be offered and consults nothing about any user's actual MCP entitlement. A robot the role grants nothing on still appears, with an empty `exposures` — dropping it would read as \"not attached\", which is a different fact."
      }
    },
    "/api/apps/{id}/server-keys": {
      "post": {
        "operationId": "post_api_apps_id_server_keys",
        "summary": "Mints a server key for the app and returns the raw secret once.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/create-server-key-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `tier_required`, `invalid_uuid`, `not_found`, `validation_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Owner tier only: a server key carries full app rights and outlives its creator's removal. The body is `{ \"name\": string }`, the same trivial shape role creation takes. `key` is the only moment the raw secret exists outside the caller's hands — it is never in a listing, never in an audit event, and cannot be read back."
      },
      "get": {
        "operationId": "get_api_apps_id_server_keys",
        "summary": "Lists the app's server keys as metadata, never the secrets.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server-key-list-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Answers `{ \"server_keys\": [serverKey, …] }`. `serverKey` names the five fields it carries rather than spreading the stored row — that is what keeps this listing from becoming a second place a credential leaves the cloud."
      }
    },
    "/api/apps/{id}/server-keys/{keyId}/rotate": {
      "post": {
        "operationId": "post_api_apps_id_server_keys_keyId_rotate",
        "summary": "Replaces a server key's secret in place and returns the new one once.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "description": "The server key's uuid, from `GET /api/apps/:id/server-keys`; a key of another app answers `404`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/create-server-key-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `tier_required`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Owner tier, for the reason creation is. The old secret is refused from this call on, and any `/realtime` socket that authenticated with it is closed — rotation is what a developer reaches for when a key has leaked, and the holder of that socket is exactly who they are rotating against."
      }
    },
    "/api/apps/{id}/server-keys/{keyId}": {
      "delete": {
        "operationId": "delete_api_apps_id_server_keys_keyId",
        "summary": "Revokes a server key and closes every socket holding it.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "description": "The server key's uuid, from `GET /api/apps/:id/server-keys`; a key of another app answers `404`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success."
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `tier_required`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Owner tier, like minting and rotating: all three decide who may speak for the whole app."
      }
    },
    "/api/apps/{id}/users": {
      "get": {
        "operationId": "get_api_apps_id_users",
        "summary": "Lists the app's users — the developer's own customers, not the Fleetless team.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app-user-list-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Answers `{ \"users\": [appUser, …] }`. **A different identity space from `GET /api/org/users`**, and nothing joins the two: an app user belongs to exactly one app, their address is unique per app rather than globally, and the same address may exist as unrelated accounts in several apps of one org. No password hash, no token and no provider secret appears here — `appUser` names the fields it carries rather than spreading the stored row."
      },
      "post": {
        "operationId": "post_api_apps_id_users",
        "summary": "Creates an app user directly, without an invitation or a self-registration.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app-user"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `validation_error`, `not_found`, `email_taken`, `target_state_conflict`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "The developer-authenticated door into the app's user table, and the one place `409 email_taken` is an honest answer about an app user: the caller is authenticated into this app already, so telling them the address is taken discloses nothing they could not read from the listing beside it. `POST /api/client/register` answers `202` to the same fact, because there the caller is a stranger. `404 not_found` is the app, or a `role_id` that is not a role of it — a role of another app is refused rather than stored, since a user holding one would carry rights nothing in this app can resolve. **The password policy answers `400 validation_error`**, not a code of its own: the twelve-character minimum is the `password` field's schema rule, and every route in this repository that takes a password refuses a short one exactly the way it refuses any other malformed field. An account created here is `active` immediately: a developer entering somebody by hand has made the decision the verification mail automates, and its address counts as proven. `409 target_state_conflict` names `default_role_id` when `role_id` is absent and the app has no default role, or its default names a role that no longer resolves — a user with no role holds rights nothing in this app can read, so nothing is created.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create-app-user-request"
              }
            }
          }
        }
      }
    },
    "/api/apps/{id}/users/{userId}": {
      "get": {
        "operationId": "get_api_apps_id_users_userId",
        "summary": "Reads one user of the app.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "The app user's uuid, from `GET /api/apps/:id/users`; a user of another app answers `404`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app-user"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "A user of another app, or of another org, reads exactly like one that does not exist — `404`, never a `403`."
      },
      "patch": {
        "operationId": "patch_api_apps_id_users_userId",
        "summary": "Changes an app user's display name, role or status.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "The app user's uuid, from `GET /api/apps/:id/users`; a user of another app answers `404`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app-user"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `validation_error`, `not_found`, `target_state_conflict`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "The address is immutable: it is half of what identifies the account within the app, and a rewrite would silently move every token and invitation addressed to the old one. Setting `status` to `blocked` ends every session the user holds and closes their live `/realtime` subscriptions — blocking somebody who keeps a working socket is not blocking them. Moving them back to `active` mints nothing; they log in again. \n\n**`active` is a way out of `blocked` and out of nothing else.** An account still `pending_verification` answers `409 target_state_conflict` naming `status` with rule `unverified`: activating it would let somebody who typed an address they do not own log in without ever spending the mailed token. Unblocking restores the status the account had — `active` for one whose address was proven, `pending_verification` for one blocked before it ever verified. A write that names the status the account already holds changes nothing and mints no event, so it does not end the sessions a re-sent form would otherwise have killed. A `role_id` naming a role of another app is `404 not_found`, the same refusal creation makes.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/patch-app-user-request"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete_api_apps_id_users_userId",
        "summary": "Deletes an app user and ends every session they hold.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "The app user's uuid, from `GET /api/apps/:id/users`; a user of another app answers `404`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success."
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Sessions are revoked before the row goes, for the reason `DELETE /api/org/users/:id` states: a live user with a dead session is recoverable by retrying, a deleted user whose token still works is not. Outstanding invitations and unspent tokens for that address are expired with it — a link mailed before the deletion is a standing re-admission ticket. **Nothing outside this app is touched**: a Fleetless user sharing the address keeps their console account, and an account with the same address in a sibling app is a different person as far as this platform is concerned."
      }
    },
    "/api/apps/{id}/users/{userId}/reset-password": {
      "post": {
        "operationId": "post_api_apps_id_users_userId_reset_password",
        "summary": "Mails an app user a password-reset link on the developer's behalf.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "The app user's uuid, from `GET /api/apps/:id/users`; a user of another app answers `404`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mail-outcome"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `not_found`, `target_state_conflict`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "The support door beside `POST /api/client/password/reset`: the same one-hour token and the same link, triggered by a developer for a user who asked them rather than the form. **No enumeration discipline applies** — the caller is authenticated into the app and can read the user list — so this one answers what actually happened: `{ \"mail\": mailStatus }`, where `not_configured` is a deployment without a mailer and `failed` is the state worth somebody's attention. `409 target_state_conflict` names `reset_url` when the app has configured none: the token would be minted and the link would point nowhere, so nothing is minted. The same `409` names `password` with rule `not_set` for an account that has none — an OIDC-only app user, whom a reset link would hand a second, quieter door — and `status` with rule `blocked` for a blocked one, since `POST /api/client/password/reset` mails a blocked account nothing and the two doors may not disagree. Setting the password directly is deliberately not offered; a developer who could would hold their customers' credentials."
      }
    },
    "/api/apps/{id}/invitations": {
      "get": {
        "operationId": "get_api_apps_id_invitations",
        "summary": "Lists the app's outstanding invitations, without their tokens.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app-invitation-list-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Answers `{ \"invitations\": [pendingAppInvitation, …] }` — pending only, since an accepted invitation is history rather than something to revoke. **No `accept_url`**, the rule the team listing already keeps: this list exists so a developer can see what is outstanding and withdraw it, and neither needs the token, while a list that carried it would turn every screenshot and browser-history entry of that page into a live credential for somebody else's account. `mail` is omitted too — it described what happened at creation time, and re-serving it invites a reader to take it as current."
      },
      "post": {
        "operationId": "post_api_apps_id_invitations",
        "summary": "Invites an address into the app with a role, and optionally mails the link.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app-invitation"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `validation_error`, `not_found`, `email_taken`, `target_state_conflict`, `rate_limited`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "**An app user, not a team member.** `POST /api/org/invitations` is the other space and leads to the console; this link leads into the developer's own app. The role is resolved and stored now, so a later change to `default_role_id` does not re-aim a link already sent. An invitation **always bypasses `allowed_domains`**. \n\nThe answer carries `accept_url`, which is `null` when the app has configured no `invite_url` — there is nowhere for the link to point, and Fleetless serves an app user no page of its own. That is a `201` with a null link, not a refusal: the invitation exists and a developer may hand the token over by another route. Asking to **mail** it in that state is `409 target_state_conflict` naming `invite_url`, because a mail carrying a dead link is worse than no mail. The same `409` names `default_role_id` when `role_id` is absent and the app has no default role, or its default no longer resolves: an invitation that names no role has nothing to hand its acceptor, so it is refused here rather than at the acceptance a week later. `409 email_taken` is an address the app already has as a user; `404 not_found` is the app or a `role_id` that is not one of its roles. \n\nCreating shares the reissue route's ceiling of **five invitation mails a minute per app**, answering `429 rate_limited` with `retry_after_ms`: re-creating an invitation for one address replaces it and mails again, so a limit that bound only reissue would be a limit on the wrong door.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create-app-invitation-request"
              }
            }
          }
        }
      }
    },
    "/api/apps/{id}/invitations/{invId}/reissue": {
      "post": {
        "operationId": "post_api_apps_id_invitations_invId_reissue",
        "summary": "Mints a fresh token onto the same invitation and returns the new link.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invId",
            "in": "path",
            "required": true,
            "description": "The invitation's uuid, from `GET /api/apps/:id/invitations`; an invitation of another app answers `404`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app-invitation"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `not_found`, `rate_limited`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "The old link stops resolving the instant this returns: the row is found by token hash and the previous hash is gone. Two live links to one invitation would reopen the door the listing's missing `accept_url` closes. \n\n**The answer carries a new `id`.** The old row is revoked and a fresh one takes its place, so a caller holding the previous `id` gets `404` from its next revoke or reissue: re-read the listing after this call rather than keeping the id you sent. The seven days start again. \n\nLimited server-side to **five reissues a minute per app** — shared with `POST /api/apps/:id/invitations`, since both mint a link and mail it — answering `429 rate_limited` with `retry_after_ms`. A disabled button is a hint, this is the limit. An invitation that has already been accepted is not pending and answers `404`."
      }
    },
    "/api/apps/{id}/invitations/{invId}": {
      "delete": {
        "operationId": "delete_api_apps_id_invitations_invId",
        "summary": "Revokes a pending invitation so its link stops resolving.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invId",
            "in": "path",
            "required": true,
            "description": "The invitation's uuid, from `GET /api/apps/:id/invitations`; an invitation of another app answers `404`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success."
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "An invitation that was already accepted is not pending and answers `404`, the same answer one that never existed gets — the account it created is a user now, and deleting that is `DELETE /api/apps/:id/users/:userId`. A revoked token answers `410 token_spent` at `POST /api/client/invitations/accept`, the same answer one that expired or never existed gets — the developer withdrew it deliberately, and an answer saying so would tell whoever still holds the link that it was once real."
      }
    },
    "/api/apps/{id}/auth-config": {
      "get": {
        "operationId": "get_api_apps_id_auth_config",
        "summary": "Reads the app's auth settings: self-registration, domains, origins, URLs and the MCP switch.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app-auth-config"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "One row per app, created with the app and never absent — an app that has configured nothing reads back the defaults rather than a `404`. `oidc_callback_url` is in the answer and not in the request: it is minted by the cloud from its own public base URL, is the same for every app and every provider, and is the value a developer registers at their identity provider."
      },
      "put": {
        "operationId": "put_api_apps_id_auth_config",
        "summary": "Replaces the app's auth settings in one write.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app-auth-config"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `validation_error`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "**A replace, not a merge, and `.strict()`**: every field arrives or the write is refused, so a client built against an older shape cannot silently clear a setting it does not know about. `oidc_callback_url` and `updated_at` are refused in the body — a writable callback URL would let a caller point the return leg of an OIDC sign-in, which carries an authorization code, at a host they own. \n\n`400 validation_error` is where the three field rules land: a URL template must be https (or `http` on `localhost`) and carry its placeholder exactly once, an origin must be a bare scheme-host-port with no path, and a domain must be lowercase. Each refuses at configuration time because each would otherwise fail silently later — a second placeholder leaves one occurrence literal in a mailed link, an origin with a path can never equal a browser's `Origin` header, and a capitalised domain can never match a lowercased address.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/put-app-auth-config-request"
              }
            }
          }
        }
      }
    },
    "/api/apps/{id}/mail-templates": {
      "get": {
        "operationId": "get_api_apps_id_mail_templates",
        "summary": "Lists the custom mail templates the app has, which may be none.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app-mail-template-list-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Answers `{ \"templates\": [appMailTemplate, …] }` with **only the kinds that have a custom template** — at most three. A kind that does not appear is one using the Fleetless default text, which is an ordinary state and not a missing row. Mails to *Fleetless* users, a team invitation or a console password reset, are not in this list and are deliberately not customisable: they are about this platform, not about the developer's product."
      }
    },
    "/api/apps/{id}/mail-templates/{kind}": {
      "get": {
        "operationId": "get_api_apps_id_mail_templates_kind",
        "summary": "Reads one custom mail template of the app.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kind",
            "in": "path",
            "required": true,
            "description": "Which of the three mails this template replaces — a `mailTemplateKind`: `invite`, `verify` or `reset`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app-mail-template"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `validation_error`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "The `kind` segment is a `mailTemplateKind`, so a fourth word is `400 validation_error` — the path names a set that is closed, and answering `404` about it would read as \"this app has no such template\" when the truth is that no app can. `404 not_found` is the app, or a kind this app has left on the Fleetless default: there is no stored row to read back, and inventing one would present the default text as something the developer wrote."
      },
      "put": {
        "operationId": "put_api_apps_id_mail_templates_kind",
        "summary": "Stores or replaces the app's template for one kind of mail, refusing one that does not render.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kind",
            "in": "path",
            "required": true,
            "description": "Which of the three mails this template replaces — a `mailTemplateKind`: `invite`, `verify` or `reset`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app-mail-template"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `validation_error`, `not_found`, `template_invalid`, `rate_limited`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "The body carries `subject`, `text` and an optional `html`, each a Liquid template; `kind` is in the path and `updated_at` is the server's, so neither may arrive. `text` is required even when `html` is given — a mail with no text part is unreadable to a client that refuses HTML. \n\n**Liquid runs in strict mode and every part is rendered here before anything is stored**, so `422 template_invalid` is an unknown variable or a syntax error rather than an empty line in a mail somebody already received. Its `details` is a `mailTemplateProblemDetails` naming which of the three parts failed and the renderer's own message, because an error that did not say which leaves the developer re-reading all three. The permitted variables are `MAIL_TEMPLATE_VARIABLES` and the set is closed. Rendering here promises nothing about send time: a template that fails for one recipient falls back to the Fleetless default and writes an audit event, and no answer on this route can say otherwise. \n\nA rendered part is capped while it is being written, so a template that would produce megabytes answers `422 template_invalid` rather than building the string first. Limited server-side to **ten calls a minute per app**, shared with the preview, answering `429 rate_limited` with `retry_after_ms`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/put-app-mail-template-request"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete_api_apps_id_mail_templates_kind",
        "summary": "Drops the app's custom template for one kind, returning that mail to the Fleetless default.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kind",
            "in": "path",
            "required": true,
            "description": "Which of the three mails this template replaces — a `mailTemplateKind`: `invite`, `verify` or `reset`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success."
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `validation_error`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "The mail keeps being sent — this removes the developer's wording, not the message. A kind that already has no custom template answers `404 not_found` rather than `204`: there is nothing here to reach the end state of, and the two facts are worth telling apart to somebody who thinks they still have a template stored."
      }
    },
    "/api/apps/{id}/mail-templates/{kind}/preview": {
      "post": {
        "operationId": "post_api_apps_id_mail_templates_kind_preview",
        "summary": "Renders a template with sample data and answers the three parts, storing nothing.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kind",
            "in": "path",
            "required": true,
            "description": "Which of the three mails this template replaces — a `mailTemplateKind`: `invite`, `verify` or `reset`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mail-template-preview-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `validation_error`, `not_found`, `template_invalid`, `rate_limited`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Takes the same document the PUT does and writes nothing, so a developer can see the rendered subject, text and HTML before anybody receives them. The sample data fills every variable in `MAIL_TEMPLATE_VARIABLES`, including `link`, which is a plausible URL and not a live token. `422 template_invalid` carries the same `mailTemplateProblemDetails` the PUT does, which is the point of previewing: the error arrives on the screen where the template is being written. `404 not_found` is the app — a kind with no stored template previews perfectly well, since the body being rendered is the one in the request. \n\n**The sample data does not vary with the `kind`.** Every kind renders against one fixed set: an invite-shaped `link` and `expires_in_hours: 24`, where a real reset mail says 1 and a real invitation says 168. A preview shows how the template renders, not what the recipient of that kind will read. \n\nLimited server-side to **ten calls a minute per app**, shared with the PUT, answering `429 rate_limited` with `retry_after_ms`: rendering is synchronous CPU work on the shared cloud and an unbounded loop of it is a denial of service against every other org.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mail-template-preview-request"
              }
            }
          }
        }
      }
    },
    "/api/apps/{id}/mail-templates/{kind}/test": {
      "post": {
        "operationId": "post_api_apps_id_mail_templates_kind_test",
        "summary": "Sends the rendered template as a real mail to the calling developer.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kind",
            "in": "path",
            "required": true,
            "description": "Which of the three mails this template replaces — a `mailTemplateKind`: `invite`, `verify` or `reset`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mail-outcome"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `validation_error`, `not_found`, `template_invalid`, `rate_limited`, `target_state_conflict`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "**The recipient is the calling developer's own address and cannot be chosen.** A test send that named an arbitrary address would be a mail relay with an authentication step in front of it. The body and the sample data are the preview's, so what arrives is what the preview showed, in a real client with real HTML. \n\nThe answer is `{ \"mail\": mailStatus }` rather than an empty `202`, because the one thing a developer needs next is whether a mail actually left: `not_configured` on a deployment with no mailer looks exactly like a successful send otherwise, and they wait for a message nobody posted. `409 target_state_conflict` is that state made explicit where the deployment can already tell — there is no mailer configured at all, so nothing will be attempted. `422 template_invalid` refuses before sending, and `429 rate_limited` bounds how often this can be used to mail anybody, the developer included.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mail-template-preview-request"
              }
            }
          }
        }
      }
    },
    "/api/org/users": {
      "get": {
        "operationId": "get_api_org_users",
        "summary": "Lists the organisation's Fleetless users — the team who reach the console.",
        "tags": [
          "users"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/fleetless-user-list-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "**Fleetless users, not an app's users.** The two identity spaces are separate and nothing joins them, so an app's users are listed per app and never appear here. There is nothing to narrow by: the group filter this route used to take described a model with no successor, and every Fleetless user of the org is in this answer."
      }
    },
    "/api/org/users/{id}": {
      "get": {
        "operationId": "get_api_org_users_id",
        "summary": "Reads one Fleetless user of the org.",
        "tags": [
          "users"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The Fleetless user's uuid, as listed by `GET /api/org/users`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/fleetless-user"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patch_api_org_users_id",
        "summary": "Changes a team member's display name.",
        "tags": [
          "users"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The Fleetless user's uuid, as listed by `GET /api/org/users`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/fleetless-user"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `not_found`, `validation_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Nothing here has a consequence a PATCH body cannot carry: the tier is its own route, because it is owner-only and has a last-owner guard, and the address is immutable. The audit event records which fields were addressed, never their values.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/patch-fleetless-user-request"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete_api_org_users_id",
        "summary": "Removes a team member and ends every session they hold.",
        "tags": [
          "users"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The Fleetless user's uuid, as listed by `GET /api/org/users`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success."
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `tier_required`, `invalid_uuid`, `not_found`, `last_owner`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Sessions are revoked before the row is deleted: a still-existing user with a dead session is recoverable by retrying, a deleted user whose old token still works is not. Any team invitation still outstanding for that address is expired too — a link mailed before the removal is a standing re-admission ticket. **App accounts sharing the address are untouched**, in this org and in every other: they are separate identities in a separate space, and deleting a colleague must not delete a customer. Removing an Owner needs Owner tier, and removing the last one is `409 last_owner`."
      }
    },
    "/api/org/invitations": {
      "post": {
        "operationId": "post_api_org_invitations",
        "summary": "Invites an address onto the team and returns the accept link.",
        "tags": [
          "users"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/team-invite"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `tier_required`, `validation_error`, `email_taken`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "**A Fleetless user, not an app user.** Inviting somebody into an app is `POST /api/apps/:id/invitations` and is a different link into a different space. `tier` is required, because \"I did not think about it\" and \"I meant developer\" must not be the same request on the field that decides who can remove whom. **Inviting an Owner is Owner-only** — an invitation carrying `tier: \"owner\"` is a promotion with an extra step, since the response hands back the `accept_url`. `ownerTier` is `false` here because the gate is on that value, not on the route: any team member may invite a developer. **This collection sits beside `/api/org/users`, not under it**: an invitation is not a user yet, and the old spelling put a literal `invitations` where `GET /api/org/users/:id` expects a uuid — reachable only because a router ranks a static segment above a parametric one.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create-team-invite-request"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "get_api_org_invitations",
        "summary": "Lists the pending team invitations of the org, without their tokens.",
        "tags": [
          "users"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pending-team-invite-list-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "No `accept_url` is in this listing, and that omission is the point: it exists so an admin can spot a backdoor invitation planted for an address they merely control, not so anyone can re-read a link."
      }
    },
    "/api/org/invitations/{id}": {
      "delete": {
        "operationId": "delete_api_org_invitations_id",
        "summary": "Revokes a pending invitation so its link stops resolving.",
        "tags": [
          "users"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The invitation's uuid, as listed by `GET /api/org/invitations`.",
[...]
