{
  "openapi": "3.1.0",
  "info": {
    "title": "Fleetless API",
    "version": "1",
    "description": "Generated from the route manifest the cloud is tested against. Request and response shapes are the same JSON Schemas the platform validates with."
  },
  "servers": [
    {
      "url": "https://api.fleetless.dev"
    }
  ],
  "tags": [
    {
      "name": "health",
      "description": "Health"
    },
    {
      "name": "developer-auth",
      "description": "Developer auth"
    },
    {
      "name": "client-auth",
      "description": "End-user (client) auth"
    },
    {
      "name": "org",
      "description": "Org"
    },
    {
      "name": "users",
      "description": "Users, groups and assignments"
    },
    {
      "name": "apps",
      "description": "Apps"
    },
    {
      "name": "robots",
      "description": "Robots"
    },
    {
      "name": "config",
      "description": "Configuration (draft/publish)"
    },
    {
      "name": "alerts",
      "description": "Alerts"
    },
    {
      "name": "commands",
      "description": "Commands (jobs, publishers)"
    },
    {
      "name": "cameras",
      "description": "Cameras"
    },
    {
      "name": "assets",
      "description": "Assets (URDF, meshes)"
    },
    {
      "name": "oauth",
      "description": "OAuth 2.1"
    },
    {
      "name": "mcp",
      "description": "MCP"
    },
    {
      "name": "transports",
      "description": "Realtime and bridge transports"
    }
  ],
  "paths": {
    "/api/auth/signup": {
      "post": {
        "operationId": "post_api_auth_signup",
        "summary": "Creates an org, its Org Admins group and the founding Owner, and answers a developer session.",
        "tags": [
          "developer-auth"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sign-up-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `rate_limited`, `signup_closed`, `validation_error`, `email_taken`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "While the deployment runs in closed beta this answers `403 signup_closed` before it looks at the body — there is nothing for a validation message, or an `email_taken` answer, to be right about when nothing will be created. Email is globally unique, so an address already registered in any org is refused.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sign-up-request"
              }
            }
          }
        }
      }
    },
    "/api/auth/refresh": {
      "post": {
        "operationId": "post_api_auth_refresh",
        "summary": "Rotates a developer refresh token and mints a fresh access token.",
        "tags": [
          "developer-auth"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/session-tokens"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `rate_limited`, `validation_error`, `token_expired`, `token_revoked`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "The whole family is re-checked here, not just the token: an account that has left the Org Admins group cannot mint a fresh console token, and answers `token_revoked`. Refusing that only on the other routes would leave a session that is dead everywhere but here.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/refresh-request"
              }
            }
          }
        }
      }
    },
    "/api/auth/logout": {
      "post": {
        "operationId": "post_api_auth_logout",
        "summary": "Revokes the whole refresh family behind a developer refresh token.",
        "tags": [
          "developer-auth"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "204": {
            "description": "Success."
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `rate_limited`, `validation_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Unauthenticated by design — the refresh token in the body is the credential. A token the server does not recognise is still a `204`: the end state a caller asked for is the end state they get, and distinguishing the two would say whether a token ever existed. Open `/realtime` sockets for the session are closed too.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/refresh-request"
              }
            }
          }
        }
      }
    },
    "/api/auth/me": {
      "get": {
        "operationId": "get_api_auth_me",
        "summary": "Answers the calling developer and the org they belong to.",
        "tags": [
          "developer-auth"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/auth-me-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patch_api_auth_me",
        "summary": "Changes the calling developer's own display name and nothing else.",
        "tags": [
          "developer-auth"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/auth-me-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `validation_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "No Owner tier: this can only ever touch the caller's own row, so there is nothing for a tier check to gate. Saving the name already held writes nothing and records no audit event — the org activity stream reaches every developer with the console open, and an event for a no-op would misreport that something changed.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/patch-auth-me-request"
              }
            }
          }
        }
      }
    },
    "/api/auth/password/change": {
      "post": {
        "operationId": "post_api_auth_password_change",
        "summary": "Verifies the current password, sets a new one and answers a fresh session.",
        "tags": [
          "developer-auth"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/session-tokens"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `validation_error`, `invalid_credentials`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Every session of this account ends, including the caller's — the request carries nothing identifying its own refresh family, so there is none to spare. The answer is a working replacement pair, which is what the promise has to mean when nothing distinguishes one session from another.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/password-change-request"
              }
            }
          }
        }
      }
    },
    "/api/auth/password/reset": {
      "post": {
        "operationId": "post_api_auth_password_reset",
        "summary": "Mails a password-reset link to the address, and answers the same either way.",
        "tags": [
          "developer-auth"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "202": {
            "description": "Success."
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `rate_limited`, `validation_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Status, body and timing are identical for a known and an unknown address — any difference is an account-enumeration oracle, which is why the unknown branch still pays a real SMTP round trip to a discard address. An account provisioned through OIDC has no Fleetless password and is mailed nothing. A browser form post gets a `303` to the \"check your mail\" card instead of this `202`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/password-reset-request"
              }
            }
          }
        }
      }
    },
    "/api/auth/password/reset/confirm": {
      "post": {
        "operationId": "post_api_auth_password_reset_confirm",
        "summary": "Spends a reset token, sets the new password and ends every session of the account.",
        "tags": [
          "developer-auth"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "204": {
            "description": "Success."
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `rate_limited`, `validation_error`, `token_spent`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Unknown, spent and expired tokens all answer `410 token_spent`. Sessions are revoked under the account's actual kind — a console admin holds developer sessions, an app user holds end-user ones — so an app user's open `/realtime` socket does not outlive the reset. A browser form post gets the rendered \"done\" page instead of this `204`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/password-reset-confirm"
              }
            }
          }
        }
      }
    },
    "/api/waitlist": {
      "post": {
        "operationId": "post_api_waitlist",
        "summary": "Adds an address to the closed-beta waiting list.",
        "tags": [
          "developer-auth"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "202": {
            "description": "Success."
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `rate_limited`, `validation_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Answers `202` whether or not the address was already listed: the landing page's form must not be an oracle for who signed up. The operator notification is detached from the response — awaiting it made latency answer the question the status code refuses to — and is capped by its own global ceiling, above which the row is still written and the mail is skipped.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/waitlist-request"
              }
            }
          }
        }
      }
    },
    "/api/audit": {
      "get": {
        "operationId": "get_api_audit",
        "summary": "Reads the org's audit log, newest first, cursor-paged over the durable sequence number.",
        "tags": [
          "org"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "before_seq",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "pattern": "^\\d{1,19}$"
                },
                {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                }
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "pattern": "^\\d{1,4}$"
                },
                {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                }
              ]
            }
          },
          {
            "name": "action",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 80
            }
          },
          {
            "name": "action_prefix",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 80
            }
          },
          {
            "name": "actor_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          },
          {
            "name": "target_kind",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 40
            }
          },
          {
            "name": "from_ms",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "pattern": "^\\d{1,15}$"
                },
                {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                }
              ]
            }
          },
          {
            "name": "to_ms",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "pattern": "^\\d{1,15}$"
                },
                {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/audit-list-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `validation_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "`action` and `action_prefix` are mutually exclusive, a cross-field rule no JSON Schema can express — this route is where it is enforced. Nothing redacts an event's `details`: it is returned exactly as the call site wrote it."
      }
    },
    "/api/audit/export": {
      "get": {
        "operationId": "get_api_audit_export",
        "summary": "Downloads every audit event matching the same filters as a CSV attachment.",
        "tags": [
          "org"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "before_seq",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "pattern": "^\\d{1,19}$"
                },
                {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                }
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "pattern": "^\\d{1,4}$"
                },
                {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                }
              ]
            }
          },
          {
            "name": "action",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 80
            }
          },
          {
            "name": "action_prefix",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 80
            }
          },
          {
            "name": "actor_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          },
          {
            "name": "target_kind",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 40
            }
          },
          {
            "name": "from_ms",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "pattern": "^\\d{1,15}$"
                },
                {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                }
              ]
            }
          },
          {
            "name": "to_ms",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "pattern": "^\\d{1,15}$"
                },
                {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `validation_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Answers `text/csv` with a `Content-Disposition` attachment, not JSON — so it has no response schema. `AUDIT_CSV_COLUMNS` names the columns and their order. Takes the same filters as `GET /api/audit` but refuses `before_seq` and `limit` with `400 validation_error`: an export is not a page, it is everything the filter matches up to a fixed row ceiling."
      }
    },
    "/api/apps": {
      "post": {
        "operationId": "post_api_apps",
        "summary": "Creates an app in a group, optionally attaching robots to it at the same time.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `validation_error`, `target_state_conflict`, `identifier_taken`, `quota_exceeded`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Every robot id is checked before anything is created, so a bad one never leaves a robotless app to clean up. The Org Admins group is refused with `409 target_state_conflict`: admins hold no assignments, so an app there would be one nobody can be assigned to. The identifier `mcp` is reserved by the central MCP server and refused as a `validation_error`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create-app-request"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "get_api_apps",
        "summary": "Lists every app in the caller's org.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success."
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Answers `{ \"apps\": [app, …] }`. The envelope has no schema of its own in contracts; each element is an `app`."
      }
    },
    "/api/apps/{id}": {
      "get": {
        "operationId": "get_api_apps_id",
        "summary": "Reads one app of the org, with its group, robots and default role.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "An app belonging to another org reads exactly like one that does not exist — `404`, never a `403`."
      },
      "patch": {
        "operationId": "patch_api_apps_id",
        "summary": "Changes an app's name, its attached robots, its default role or whether it accepts dynamic clients.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `invalid_uuid`, `validation_error`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "A `default_role_id` naming a role of another app is refused: it is the one cross-app authorization check this shape can carry. Changing the robot set closes every live subscription the app's users hold, since a grant may no longer name a reachable robot.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/update-app-request"
              }
            }
          }
        }
      }
    },
    "/api/apps/{id}/roles": {
      "post": {
        "operationId": "post_api_apps_id_roles",
        "summary": "Creates a custom role on the app.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success."
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `invalid_uuid`, `not_found`, `validation_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "The body is `{ \"name\": string }` — non-empty, trimmed, at most 120 characters — and is deliberately not a contract shape: contracts define the `role` this answers with, not this one trivial request. The answer is a `role`."
      },
      "get": {
        "operationId": "get_api_apps_id_roles",
        "summary": "Lists the app's roles, builtin and custom.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Answers `{ \"roles\": [role, …] }`. The envelope has no schema of its own in contracts; each element is a `role`."
      }
    },
    "/api/apps/{id}/roles/{roleId}/permissions": {
      "put": {
        "operationId": "put_api_apps_id_roles_roleId_permissions",
        "summary": "Replaces a role's grants and capabilities in one write.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "description": "The role's uuid, from `GET /api/apps/:id/roles`; a role of another app answers `404`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/role-permissions"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `invalid_uuid`, `not_found`, `validation_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "`role_id` in the body must name the role in the path, compared case-insensitively — a uuid is a value, not a string, and a client that uppercases them consistently must not be refused for repeating what the path says. A grant naming a robot the app does not have is refused rather than stored: a permission for something the role cannot reach reads as authoritative to whoever writes the next consumer. Every user holding this role has their live subscriptions re-authorized.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/role-permissions"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "get_api_apps_id_roles_roleId_permissions",
        "summary": "Reads a role's grants and capabilities.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "description": "The role's uuid, from `GET /api/apps/:id/roles`; a role of another app answers `404`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/role-permissions"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        }
      }
    },
    "/api/apps/{id}/roles/{roleId}/mcp-tools": {
      "get": {
        "operationId": "get_api_apps_id_roles_roleId_mcp_tools",
        "summary": "Previews the robot datasheets an MCP caller holding this role would be offered.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "description": "The role's uuid, from `GET /api/apps/:id/roles`; a role of another app answers `404`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcp-role-preview-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Built by the same builder the MCP server's own `robot_describe` uses, so the two cannot drift. It answers what the role *would* be offered and consults nothing about any user's actual MCP entitlement. A robot the role grants nothing on still appears, with an empty `exposures` — dropping it would read as \"not attached\", which is a different fact."
      }
    },
    "/api/apps/{id}/server-keys": {
      "post": {
        "operationId": "post_api_apps_id_server_keys",
        "summary": "Mints a server key for the app and returns the raw secret once.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/create-server-key-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `tier_required`, `invalid_uuid`, `not_found`, `validation_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Owner tier only: a server key carries full app rights and outlives its creator's removal. The body is `{ \"name\": string }`, the same trivial shape role creation takes. `key` is the only moment the raw secret exists outside the caller's hands — it is never in a listing, never in an audit event, and cannot be read back."
      },
      "get": {
        "operationId": "get_api_apps_id_server_keys",
        "summary": "Lists the app's server keys as metadata, never the secrets.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Answers `{ \"server_keys\": [serverKey, …] }`. The envelope has no schema of its own in contracts; each element is a `serverKey`, which names the five fields it carries rather than spreading the stored row — that is what keeps this listing from becoming a second place a credential leaves the cloud."
      }
    },
    "/api/apps/{id}/server-keys/{keyId}/rotate": {
      "post": {
        "operationId": "post_api_apps_id_server_keys_keyId_rotate",
        "summary": "Replaces a server key's secret in place and returns the new one once.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "description": "The server key's uuid, from `GET /api/apps/:id/server-keys`; a key of another app answers `404`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/create-server-key-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `tier_required`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Owner tier, for the reason creation is. The old secret is refused from this call on, and any `/realtime` socket that authenticated with it is closed — rotation is what a developer reaches for when a key has leaked, and the holder of that socket is exactly who they are rotating against."
      }
    },
    "/api/apps/{id}/server-keys/{keyId}": {
      "delete": {
        "operationId": "delete_api_apps_id_server_keys_keyId",
        "summary": "Revokes a server key and closes every socket holding it.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "description": "The server key's uuid, from `GET /api/apps/:id/server-keys`; a key of another app answers `404`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success."
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `tier_required`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Owner tier, like minting and rotating: all three decide who may speak for the whole app."
      }
    },
    "/api/org/groups": {
      "get": {
        "operationId": "get_api_org_groups",
        "summary": "Lists every group in the org with its member and app counts.",
        "tags": [
          "users"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/group-list-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "post_api_org_groups",
        "summary": "Creates a group, optionally with MCP access enabled for its members.",
        "tags": [
          "users"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/org-group"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `validation_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "The `is_org_admins` flag is not an argument here and cannot be: it has exactly one writer, org creation, so no door can mint a second admin group even by accident.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create-group-request"
              }
            }
          }
        }
      }
    },
    "/api/org/groups/{id}": {
      "get": {
        "operationId": "get_api_org_groups_id",
        "summary": "Reads one group with its member and app counts.",
        "tags": [
          "users"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The group's uuid, as listed by `GET /api/org/groups`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/org-group"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "A group of another org reads exactly like one that does not exist."
      },
      "patch": {
        "operationId": "patch_api_org_groups_id",
        "summary": "Renames a group or flips its MCP gate.",
        "tags": [
          "users"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The group's uuid, as listed by `GET /api/org/groups`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/org-group"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `invalid_uuid`, `not_found`, `validation_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "The Org Admins group is renamable through exactly this door. `is_org_admins` cannot arrive at all — the shape is strict and does not carry it, so offering it is a refusal rather than a silent drop.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/patch-group-request"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete_api_org_groups_id",
        "summary": "Deletes an empty group.",
        "tags": [
          "users"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The group's uuid, as listed by `GET /api/org/groups`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success."
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `invalid_uuid`, `not_found`, `group_not_deletable`, `group_in_use`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "The Org Admins group answers `409 group_not_deletable`; a group still holding users or apps answers `409 group_in_use` with both counts. Both refusals are re-counted inside the deleting transaction rather than pre-checked, so there is one policy and not a weaker second one. `GET /api/org/groups/:id/usage` is the read that explains them."
      }
    },
    "/api/org/groups/{id}/usage": {
      "get": {
        "operationId": "get_api_org_groups_id_usage",
        "summary": "Reports what a group holds, before an admin decides to delete it.",
        "tags": [
          "users"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The group's uuid, as listed by `GET /api/org/groups`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/group-usage-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "`users_affected` is the group's whole membership, not only the members holding assignments: deleting a group affects everyone in it, and a count that excluded the unassigned would understate exactly the people an admin has to re-home first. Counts for showing, never for deciding — the delete re-counts in its own transaction."
      }
    },
    "/api/org/users": {
      "get": {
        "operationId": "get_api_org_users",
        "summary": "Lists the org's user pool, optionally narrowed to one group.",
        "tags": [
          "users"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/org-user-list-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "`?group_id=` narrows it; there is no query schema, the parameter is read directly. A group of another org answers `404` rather than an empty list, which would be indistinguishable from \"that group exists here and is empty\" — a statement about somebody else's org. A malformed value is `400 invalid_uuid`, so a typo can be told from a deletion."
      }
    },
    "/api/org/users/{id}": {
      "get": {
        "operationId": "get_api_org_users_id",
        "summary": "Reads one user of the org.",
        "tags": [
          "users"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The user's uuid, as listed by `GET /api/org/users`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/org-user"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patch_api_org_users_id",
        "summary": "Changes a user's display name or their MCP access override.",
        "tags": [
          "users"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The user's uuid, as listed by `GET /api/org/users`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/org-user"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `invalid_uuid`, `not_found`, `validation_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Nothing here has a consequence a PATCH body cannot carry: the group and the tier are their own routes, because both cascade. The audit event records which fields were addressed, never their values.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/patch-user-request"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete_api_org_users_id",
        "summary": "Removes a user and ends every session they hold.",
        "tags": [
          "users"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The user's uuid, as listed by `GET /api/org/users`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success."
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `tier_required`, `invalid_uuid`, `not_found`, `last_owner`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Sessions are revoked before the row is deleted: a still-existing user with a dead session is recoverable by retrying, a deleted user whose old token still works is not. Both kinds go, since one row can hold console and app sessions at once. Any invitation still outstanding for that address is expired too — a link mailed before the removal is a standing re-admission ticket. Removing an Owner needs Owner tier, and removing the last one is `409 last_owner`."
      }
    },
    "/api/org/users/invitations": {
      "post": {
        "operationId": "post_api_org_users_invitations",
        "summary": "Invites an address into a group and returns the accept link.",
        "tags": [
          "users"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user-invite"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `tier_required`, `validation_error`, `target_state_conflict`, `email_taken`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "One invitation flow for every group; what the invitee becomes is `group_id`. **Inviting an Owner is Owner-only** — an invitation carrying `tier: \"owner\"` is a promotion with an extra step, since the response hands back the `accept_url`. `ownerTier` is `false` here because the gate is on that value, not on the route: any org admin may invite a developer. A tier is required for the Org Admins group and refused for every other.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create-user-invite-request"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "get_api_org_users_invitations",
        "summary": "Lists the pending invitations of the org, without their tokens.",
        "tags": [
          "users"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user-invite-list-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "No `accept_url` is in this listing, and that omission is the point: it exists so an admin can spot a backdoor invitation planted for an address they merely control, not so anyone can re-read a link."
      }
    },
    "/api/org/users/invitations/{id}": {
      "delete": {
        "operationId": "delete_api_org_users_invitations_id",
        "summary": "Revokes a pending invitation so its link stops resolving.",
        "tags": [
          "users"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The invitation's uuid, as listed by `GET /api/org/users/invitations`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success."
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "An invitation that was already accepted is not pending and answers `404`, the same answer one that never existed gets."
      }
    },
    "/api/org/users/invitations/{id}/reissue": {
      "post": {
        "operationId": "post_api_org_users_invitations_id_reissue",
        "summary": "Mints a fresh token onto the same invitation and returns the new accept link.",
        "tags": [
          "users"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The invitation's uuid, as listed by `GET /api/org/users/invitations`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user-invite"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `tier_required`, `invalid_uuid`, `not_found`, `rate_limited`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "The old link stops resolving the instant this returns — the row is looked up by token hash and the previous hash is gone. Two live links to one invitation would reopen the door the listing's missing `accept_url` closes. Limited server-side to once a minute per invitation, answering `429 rate_limited` with `retry_after_ms`; a disabled button is a hint, this is the limit. Re-issuing an owner-tier invitation needs Owner tier, exactly as creating one does."
      }
    },
    "/api/org/users/invitations/accept": {
      "post": {
        "operationId": "post_api_org_users_invitations_accept",
        "summary": "Spends an invitation token and creates the login it was addressed to.",
        "tags": [
          "users"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "204": {
            "description": "Success."
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `rate_limited`, `validation_error`, `token_spent`, `email_taken`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "**`204`, not a session.** Most invitees are not org admins, so a console session minted here would be refused on the very next request; and a body whose shape depended on the invitee's group would give one route two answers. Unknown, expired and already-accepted tokens collapse into `410 token_spent`. A browser form post gets the rendered \"you're in\" page instead.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/accept-user-invite-request"
              }
            }
          }
        }
      }
    },
    "/api/org/users/{id}/usage": {
      "get": {
        "operationId": "get_api_org_users_id_usage",
        "summary": "Previews what moving a user into another group would delete.",
        "tags": [
          "users"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The user's uuid, as listed by `GET /api/org/users`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/group-usage-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `invalid_uuid`, `not_found`, `validation_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "`?group_id=` names the group the user would move into and is required; there is no query schema, the parameter is read directly. Absent is `400 validation_error` with rule `required`, malformed is `400 invalid_uuid`, and well-formed but not a group of this org is `validation_error` with rule `unknown_group` — three different facts a caller needs told apart. Reads only, and never a lock."
      }
    },
    "/api/org/users/{id}/move-group": {
      "post": {
        "operationId": "post_api_org_users_id_move_group",
        "summary": "Moves a user into another group, deleting every assignment the move invalidates.",
        "tags": [
          "users"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The user's uuid, as listed by `GET /api/org/users`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/org-user"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `tier_required`, `invalid_uuid`, `not_found`, `validation_error`, `last_owner`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "`acknowledge_assignment_loss: true` is a literal in the shape, so there is no request of this form without it and nothing has to remember to check. **Moving an Owner needs Owner tier** — it takes the Owner capability away, which is a demotion by another door — but `ownerTier` is `false` because that gate fires only when the target is an Owner. Moving the last Owner out is `409 last_owner`. A move out of Org Admins closes the user's open `/realtime` socket.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/move-user-group-request"
              }
            }
          }
        }
      }
    },
    "/api/org/users/{id}/tier": {
      "put": {
        "operationId": "put_api_org_users_id_tier",
        "summary": "Promotes or demotes an org admin between Owner and developer tier.",
        "tags": [
          "users"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The user's uuid, as listed by `GET /api/org/users`; must be a member of the Org Admins group.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/org-user"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `tier_required`, `invalid_uuid`, `not_found`, `validation_error`, `target_state_conflict`, `last_owner`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Owner tier, unconditionally — this is the route the whole owner-exclusive list is about. A user outside the Org Admins group carries no tier at all and answers `409 target_state_conflict`. Demoting the last Owner is `409 last_owner`, decided by a row lock inside the writing transaction rather than by a read beforehand. Setting the tier already held changes nothing and writes no audit event. No session is revoked: a tier is re-read from the row on every request, so no issued token carries a stale copy of it.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/tier-change-request"
              }
            }
          }
        }
      }
    },
    "/api/org/users/{id}/assignments": {
      "get": {
        "operationId": "get_api_org_users_id_assignments",
        "summary": "Lists the apps a user is assigned to and the role they hold in each.",
        "tags": [
          "users"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The user's uuid, as listed by `GET /api/org/users`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app-assignment-list-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        }
      }
    },
    "/api/org/users/{id}/assignments/{appId}": {
      "put": {
        "operationId": "put_api_org_users_id_assignments_appId",
        "summary": "Assigns a user to an app in a role, or changes the role they already hold.",
        "tags": [
          "users"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The user's uuid, as listed by `GET /api/org/users`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "description": "The app's uuid; it must belong to the same group as the user.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app-assignment"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `invalid_uuid`, `not_found`, `target_state_conflict`, `validation_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "An app outside the user's group is `409 target_state_conflict` with rule `group_mismatch` — the group is what pairs a user with the apps they can be assigned to. A role belonging to another app is a `validation_error`. Re-roling closes the user's live subscriptions on that app.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/put-assignment-request"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete_api_org_users_id_assignments_appId",
        "summary": "Removes a user's assignment to one app and ends their sessions for it.",
        "tags": [
          "users"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The user's uuid, as listed by `GET /api/org/users`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "description": "The app's uuid; only sessions and subscriptions for this app are ended.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success."
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Only that app's sessions end; the user's access to every other app they are assigned to is untouched."
      }
    },
    "/api/apps/{id}/group-usage": {
      "get": {
        "operationId": "get_api_apps_id_group_usage",
        "summary": "Previews what re-linking an app to another group would delete.",
        "tags": [
          "users"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/group-usage-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `invalid_uuid`, `not_found`, `validation_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "`?group_id=` names the target group and is required, with the same three distinct refusals `GET /api/org/users/:id/usage` gives. The app is scoped first, so none of them can confirm that an app the caller does not own exists."
      }
    },
    "/api/apps/{id}/group": {
      "put": {
        "operationId": "put_api_apps_id_group",
        "summary": "Re-links an app to another group, deleting every assignment the move invalidates.",
        "tags": [
          "users"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `invalid_uuid`, `not_found`, `validation_error`, `target_state_conflict`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "The destructive half of the pair: every assignment naming this app whose user is not in the new group dies with the change, which is why the shape demands a literal acknowledgement. The Org Admins group is refused for the reason app creation refuses it. One edit can cut a whole team off at once, so every live subscription on the app is closed.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/put-app-group-request"
              }
            }
          }
        }
      }
    },
    "/api/org/federation": {
      "get": {
        "operationId": "get_api_org_federation",
        "summary": "Reads whether a federated login may join an existing account by verified email.",
        "tags": [
          "org"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/org-federation-policy"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Any org admin may read it; only an Owner may change it."
      },
      "put": {
        "operationId": "put_api_org_federation",
        "summary": "Sets whether a federated login may join an existing account by verified email.",
        "tags": [
          "org"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/org-federation-policy"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `tier_required`, `validation_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Owner tier: what this flag decides is account linking across the whole org, not a per-app setting. It lives on the org rather than on an app because the thing it governs — one user row per address — is org-scoped.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/org-federation-policy-request"
              }
            }
          }
        }
      }
    },
    "/api/org/groups/{id}/oidc-provider": {
      "get": {
        "operationId": "get_api_org_groups_id_oidc_provider",
        "summary": "Reads a group's OIDC provider configuration, without the client secret.",
        "tags": [
          "org"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The group's uuid, as listed by `GET /api/org/groups`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/group-oidc-provider"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "A group with no provider answers `404`, not an empty object. The secret is write-only and comes back through nothing — not this read, not the PUT's own response, not an audit detail; the stored row this maps from has none to carry."
      },
      "put": {
        "operationId": "put_api_org_groups_id_oidc_provider",
        "summary": "Sets or rotates a group's OIDC provider and its just-in-time grants.",
        "tags": [
          "org"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The group's uuid, as listed by `GET /api/org/groups`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/group-oidc-provider"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `invalid_uuid`, `not_found`, `target_state_conflict`, `validation_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Any org admin, not Owner only: configuring a group's provider is member management. The Org Admins group is refused with `409 target_state_conflict` — console login is always the Fleetless password provider. `client_secret` is optional so a rotation need not resend it, but the first write of a provider must carry one. Each JIT grant's app must belong to this group, its role to that app, and no two grants may name the same app. An issuer resolving to a loopback or private address is refused here as a shape check; the authoritative SSRF defence is at the discovery fetch.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/put-group-oidc-provider-request"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete_api_org_groups_id_oidc_provider",
        "summary": "Removes a group's OIDC provider.",
        "tags": [
          "org"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The group's uuid, as listed by `GET /api/org/groups`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success."
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Deleting a provider a group never had is an honest `404`, not a silent `204`."
      }
    },
    "/api/org": {
      "patch": {
        "operationId": "patch_api_org",
        "summary": "Renames the org.",
        "tags": [
          "org"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success."
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `tier_required`, `validation_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Answers `{ \"org\": org }`. The envelope has no schema of its own in contracts; the value is an `org`. Owner tier, and the gate runs before the body is looked at, so a malformed rename and a forbidden one answer the same way. Renaming to the name already held writes nothing and records no audit event.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/patch-org-request"
              }
            }
          }
        }
      }
    },
    "/api/apps/{id}/oauth-clients": {
      "post": {
        "operationId": "post_api_apps_id_oauth_clients",
        "summary": "Registers an OAuth client on the app and returns its `client_id`.",
        "tags": [
          "oauth"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/oauth-client"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `invalid_uuid`, `not_found`, `validation_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "The body is `{ \"client_name\": string, \"redirect_uris\": string[] }` and has no contract shape of its own: `dynamicClientRegistrationRequest` is RFC 7591's wire for `POST /oauth/register` and carries four fields this route ignores, so reusing it here would document a request that is not this one. A `redirect_uri` is refused as `validation_error` with rule `invalid_redirect_uri`. This is a developer's own credential-bearing action, so it answers the `apiError` envelope, not RFC 6749's."
      },
      "get": {
        "operationId": "get_api_apps_id_oauth_clients",
        "summary": "Lists the app's OAuth clients, developer-registered and self-registered alike.",
        "tags": [
          "oauth"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Answers `{ \"oauth_clients\": [oauthClient, …] }`. The envelope has no schema of its own in contracts; each element is an `oauthClient`, and each carries its `registration` — a developer could otherwise not see the self-registered clients holding their own dynamic-client ceiling shut."
      }
    },
    "/api/apps/{id}/oauth-clients/{clientId}": {
      "delete": {
        "operationId": "delete_api_apps_id_oauth_clients_clientId",
        "summary": "Removes an OAuth client registration from the app.",
        "tags": [
          "oauth"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "description": "The OAuth `client_id` string, as listed by `GET /api/apps/:id/oauth-clients`; a client of another app answers `404`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success."
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "The harsher of the two doors: the registration itself is gone, so the client cannot ask for consent again. `DELETE …/consent` is the other one, which leaves the registration in place."
      }
    },
    "/api/apps/{id}/oauth-clients/{clientId}/consent": {
      "delete": {
        "operationId": "delete_api_apps_id_oauth_clients_clientId_consent",
        "summary": "Revokes every end user's consent grant to one OAuth client of the app.",
        "tags": [
          "oauth"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "description": "The OAuth `client_id` string, as listed by `GET /api/apps/:id/oauth-clients`; a client of another app answers `404`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success."
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `forbidden`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "\"Disconnect that AI tool\", without deleting the registration. The revocation is read on the client's very next call, so no token refresh has to happen first, and every other client the same end users granted is untouched. A client with no active grant answers `404` rather than a `204` that would claim something was revoked."
      }
    },
    "/.well-known/oauth-authorization-server": {
      "get": {
        "operationId": "get__well_known_oauth_authorization_server",
        "summary": "Publishes the authorization-server metadata every OAuth 2.1 client reads before it does anything else.",
        "tags": [
          "oauth"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/authorization-server-metadata"
                }
              }
            }
          },
          "default": {
[...]
