{
  "openapi": "3.1.0",
  "info": {
    "title": "Fleetless API",
    "version": "1",
    "description": "Generated from the route manifest the cloud is tested against. Request and response shapes are the same JSON Schemas the platform validates with."
  },
  "servers": [
    {
      "url": "https://api.fleetless.dev"
    }
  ],
  "tags": [
    {
      "name": "health",
      "description": "Health"
    },
    {
      "name": "developer-auth",
      "description": "Developer auth"
    },
    {
      "name": "client-auth",
      "description": "App-user (client) auth"
    },
    {
      "name": "org",
      "description": "Org"
    },
    {
      "name": "billing",
      "description": "Billing"
    },
    {
      "name": "users",
      "description": "Team"
    },
    {
      "name": "apps",
      "description": "Apps"
    },
    {
      "name": "robots",
      "description": "Robots"
    },
    {
      "name": "config",
      "description": "Configuration (draft/publish)"
    },
    {
      "name": "alerts",
      "description": "Alerts"
    },
    {
      "name": "commands",
      "description": "Commands (jobs, publishers)"
    },
    {
      "name": "cameras",
      "description": "Cameras"
    },
    {
      "name": "assets",
      "description": "Assets (URDF, meshes)"
    },
    {
      "name": "mcp",
      "description": "MCP"
    },
    {
      "name": "transports",
      "description": "Realtime and bridge transports"
    }
  ],
  "paths": {
    "/api/auth/refresh": {
      "post": {
        "operationId": "post_api_auth_refresh",
        "summary": "Rotates a developer refresh token and mints a fresh access token.",
        "tags": [
          "developer-auth"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/session-tokens"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `rate_limited`, `validation_error`, `token_expired`, `token_revoked`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "The whole family is re-checked here, not just the token: an account that has been removed from the org, or whose `token_version` was bumped by an owner's two-factor reset, cannot mint a fresh console token and answers `token_revoked`. Refusing that only on the other routes would leave a session that is dead everywhere but here.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/refresh-request"
              }
            }
          }
        }
      }
    },
    "/api/auth/logout": {
      "post": {
        "operationId": "post_api_auth_logout",
        "summary": "Revokes the whole refresh family behind a developer refresh token.",
        "tags": [
          "developer-auth"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "204": {
            "description": "Success."
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `rate_limited`, `validation_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Unauthenticated by design — the refresh token in the body is the credential. A token the server does not recognise is still a `204`: the end state a caller asked for is the end state they get, and distinguishing the two would say whether a token ever existed. Open `/realtime` sockets for the session are closed too.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/refresh-request"
              }
            }
          }
        }
      }
    },
    "/api/auth/me": {
      "get": {
        "operationId": "get_api_auth_me",
        "summary": "Answers the calling developer and the org they belong to.",
        "tags": [
          "developer-auth"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/auth-me-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patch_api_auth_me",
        "summary": "Changes the calling developer's own display name and nothing else.",
        "tags": [
          "developer-auth"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/auth-me-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `validation_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "No Owner tier: this can only ever touch the caller's own row, so there is nothing for a tier check to gate. Saving the name already held writes nothing and records no audit event — the org activity stream reaches every developer with the console open, and an event for a no-op would misreport that something changed.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/patch-auth-me-request"
              }
            }
          }
        }
      }
    },
    "/api/auth/two-factor": {
      "get": {
        "operationId": "get_api_auth_two_factor",
        "summary": "Answers the calling developer's passkeys, authenticator, recovery codes left and the org's policy.",
        "tags": [
          "developer-auth"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/developer-two-factor"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "What Settings › Profile › Security draws. No key material, secret or code travels here — the passkeys are names and dates, the authenticator is a date, the recovery codes are a count."
      }
    },
    "/api/auth/passkeys/options": {
      "post": {
        "operationId": "post_api_auth_passkeys_options",
        "summary": "Answers the WebAuthn creation options for registering a passkey.",
        "tags": [
          "developer-auth"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/webauthn-options-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Hand `options` to the browser's WebAuthn API as it is. The relying party is `fleetless.dev`, so the passkey works on the auth portal and in the console alike; user verification is required and the credential is discoverable, so it can sign the person in without an address. The passkeys the caller already has are excluded. The challenge is single-use and expires with the ceremony."
      }
    },
    "/api/auth/passkeys": {
      "post": {
        "operationId": "post_api_auth_passkeys",
        "summary": "Registers a passkey from the browser's answer to the creation options.",
        "tags": [
          "developer-auth"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/create-passkey-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `validation_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "A ceremony that does not verify — a wrong challenge, origin or relying party, no user verification — is `400 validation_error` naming `credential`. When this is the account's first second factor, ten recovery codes are issued and answered once; otherwise `recovery_codes` is `null` and the existing ones stay valid. Audited as `developer.two_factor_added` with `details.kind` `passkey`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create-passkey-request"
              }
            }
          }
        }
      }
    },
    "/api/auth/passkeys/{id}": {
      "patch": {
        "operationId": "patch_api_auth_passkeys_id",
        "summary": "Renames one of the caller's passkeys.",
        "tags": [
          "developer-auth"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The passkey's uuid, as listed by `GET /api/auth/two-factor`; another person's passkey answers `404`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/developer-passkey"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `validation_error`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/rename-passkey-request"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete_api_auth_passkeys_id",
        "summary": "Removes one of the caller's passkeys.",
        "tags": [
          "developer-auth"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The passkey's uuid, as listed by `GET /api/auth/two-factor`; another person's passkey answers `404`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success."
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `not_found`, `target_state_conflict`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "`409 target_state_conflict` names `two_factor` with rule `required_by_org` when this is the caller's last second factor and the organisation requires one. Removing the last one otherwise also voids the recovery codes. Audited as `developer.two_factor_removed` with `details.kind` `passkey`."
      }
    },
    "/api/auth/totp": {
      "post": {
        "operationId": "post_api_auth_totp",
        "summary": "Starts an authenticator setup and answers its secret and otpauth URL.",
        "tags": [
          "developer-auth"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/two-factor-setup-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "The secret is pending until `POST /api/auth/totp/confirm` accepts a code from it; a second call replaces a pending secret. A developer who already has an authenticator keeps it until the new one is confirmed, which is how `Replace…` works."
      },
      "delete": {
        "operationId": "delete_api_auth_totp",
        "summary": "Removes the caller's authenticator app.",
        "tags": [
          "developer-auth"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "204": {
            "description": "Success."
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `not_found`, `target_state_conflict`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "`404 not_found` when there is no authenticator. `409 target_state_conflict` names `two_factor` with rule `required_by_org` when it is the caller's last second factor and the organisation requires one. Audited as `developer.two_factor_removed` with `details.kind` `authenticator`."
      }
    },
    "/api/auth/totp/confirm": {
      "post": {
        "operationId": "post_api_auth_totp_confirm",
        "summary": "Confirms the pending authenticator with a code it shows now.",
        "tags": [
          "developer-auth"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/totp-confirm-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `rate_limited`, `validation_error`, `invalid_code`, `token_spent`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "A code that does not match the pending secret is `400 invalid_code`; no pending setup is `410 token_spent`. On success the new authenticator replaces any earlier one. Ten recovery codes are answered when it is the account's first second factor, otherwise `null`. Audited as `developer.two_factor_added` with `details.kind` `authenticator`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/totp-confirm-request"
              }
            }
          }
        }
      }
    },
    "/api/auth/recovery-codes": {
      "post": {
        "operationId": "post_api_auth_recovery_codes",
        "summary": "Issues ten new recovery codes and voids the old ones.",
        "tags": [
          "developer-auth"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recovery-codes-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `target_state_conflict`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "The codes are shown this once. `409 target_state_conflict` names `two_factor` with rule `off` when the caller has no second factor: recovery codes only stand in for one. Audited as `developer.recovery_codes_generated`."
      }
    },
    "/api/waitlist": {
      "post": {
        "operationId": "post_api_waitlist",
        "summary": "Adds an address to the closed-beta waiting list.",
        "tags": [
          "developer-auth"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "202": {
            "description": "Success."
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `rate_limited`, `validation_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Answers `202` whether or not the address was already listed: the landing page's form must not be an oracle for who signed up. The operator notification is detached from the response — awaiting it made latency answer the question the status code refuses to — and is capped by its own global ceiling, above which the row is still written and the mail is skipped.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/waitlist-request"
              }
            }
          }
        }
      }
    },
    "/api/audit": {
      "get": {
        "operationId": "get_api_audit",
        "summary": "Reads the org's audit log, newest first, cursor-paged over the durable sequence number.",
        "tags": [
          "org"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "before_seq",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "pattern": "^\\d{1,19}$"
                },
                {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                }
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "pattern": "^\\d{1,4}$"
                },
                {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                }
              ]
            }
          },
          {
            "name": "action",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 80
            }
          },
          {
            "name": "action_prefix",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 80
            }
          },
          {
            "name": "actor_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          },
          {
            "name": "target_kind",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 40
            }
          },
          {
            "name": "target_id",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Events whose target is this id; for a robot also the events that name it in `details.robot_id` (`action.invoked`, `service.called`, …), so a robot's events include what was started on it.",
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "from_ms",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "pattern": "^\\d{1,15}$"
                },
                {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                }
              ]
            }
          },
          {
            "name": "to_ms",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "pattern": "^\\d{1,15}$"
                },
                {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/audit-list-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `validation_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "`action` and `action_prefix` are mutually exclusive, a cross-field rule no JSON Schema can express — this route is where it is enforced. Nothing redacts an event's `details`: it is returned exactly as the call site wrote it."
      }
    },
    "/api/audit/export": {
      "get": {
        "operationId": "get_api_audit_export",
        "summary": "Downloads every audit event matching the same filters as a CSV attachment.",
        "tags": [
          "org"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "before_seq",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "pattern": "^\\d{1,19}$"
                },
                {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                }
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "pattern": "^\\d{1,4}$"
                },
                {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                }
              ]
            }
          },
          {
            "name": "action",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 80
            }
          },
          {
            "name": "action_prefix",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 80
            }
          },
          {
            "name": "actor_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          },
          {
            "name": "target_kind",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 40
            }
          },
          {
            "name": "target_id",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Events whose target is this id; for a robot also the events that name it in `details.robot_id` (`action.invoked`, `service.called`, …), so a robot's events include what was started on it.",
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "from_ms",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "pattern": "^\\d{1,15}$"
                },
                {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                }
              ]
            }
          },
          {
            "name": "to_ms",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "pattern": "^\\d{1,15}$"
                },
                {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `validation_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Answers `text/csv; charset=utf-8` with a `Content-Disposition` attachment, not JSON — so it has no response schema. `AUDIT_CSV_COLUMNS` names the columns and their order. Takes the same filters as `GET /api/audit` but refuses `before_seq` and `limit` with `400 validation_error`: an export is not a page, it is everything the filter matches up to a fixed row ceiling."
      }
    },
    "/api/apps": {
      "post": {
        "operationId": "post_api_apps",
        "summary": "Creates an app, optionally attaching robots to it at the same time.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `validation_error`, `identifier_taken`, `quota_exceeded`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Every robot id is checked before anything is created, so a bad one never leaves a robotless app to clean up. The identifier `mcp` is reserved by the central MCP server and refused as a `validation_error`. An app belongs to the org and to nothing inside it: the group an app used to be created in, and the `409 target_state_conflict` that refused the Org Admins one, are both gone with the group model.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create-app-request"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "get_api_apps",
        "summary": "Lists every app in the caller's org.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app-list-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Answers `{ \"apps\": [app, …] }` — the whole org, unpaged; an org's app count is bounded by quota."
      }
    },
    "/api/apps/{id}": {
      "get": {
        "operationId": "get_api_apps_id",
        "summary": "Reads one app of the org, with its robots and default role.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "An app belonging to another org reads exactly like one that does not exist — `404`, never a `403`."
      },
      "patch": {
        "operationId": "patch_api_apps_id",
        "summary": "Changes an app's name, its attached robots or its default role.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `validation_error`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "A `default_role_id` naming a role of another app is refused: it is the one cross-app authorization check this shape can carry. Changing the robot set closes every live subscription the app's users hold, since a grant may no longer name a reachable robot.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/update-app-request"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete_api_apps_id",
        "summary": "Deletes an app and everything it produced.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success."
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `tier_required`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Owner tier, and the gate runs **after** the org-scoped lookup: a developer-tier admin therefore sees the same `404` a stranger would for an app outside their org, rather than a tier refusal that confirms the id exists. A full cascade — its users, roles, server keys, invitations, OIDC provider configuration and mail templates all go, recorded once as `app.deleted` carrying an `appDeletionSummary`. Its robots are untouched: they belong to the org, not to the app. \n\n**No `force` parameter** — see `GET /api/apps/:id/deletion-preview`."
      }
    },
    "/api/apps/{id}/deletion-preview": {
      "get": {
        "operationId": "get_api_apps_id_deletion_preview",
        "summary": "Reports what deleting the app would destroy, without destroying it.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app-deletion-summary"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "The same shape the delete's own audit event carries, computed by the same function on purpose: the confirmation dialog and the eventual receipt agree by construction, and any difference between them is real drift rather than two estimates that quietly disagree. \n\n**No `force` parameter, unlike the robot pair this is modelled on.** A robot's open live session is a single nameable state whose interruption is its own hazard, which is why that route makes the caller pass `force` explicitly. An app has no equivalent state to force past, and inventing one would be a guess wearing a guard's clothes — this preview is the guard."
      }
    },
    "/api/apps/{id}/roles": {
      "post": {
        "operationId": "post_api_apps_id_roles",
        "summary": "Creates a custom role on the app.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/role"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `not_found`, `validation_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "The body is `{ \"name\": string }` — non-empty, trimmed, at most 60 characters as on `role.name` — and is deliberately not a contract shape: contracts define the `role` this answers with, not this one trivial request. **The answer is a bare `role`, not an envelope**, unlike the listing beside it."
      },
      "get": {
        "operationId": "get_api_apps_id_roles",
        "summary": "Lists the app's roles, builtin and custom.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/role-list-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Answers `{ \"roles\": [role, …] }`, builtin roles included — a role a developer never created is still one a user can hold."
      }
    },
    "/api/apps/{id}/roles/{roleId}/permissions": {
      "put": {
        "operationId": "put_api_apps_id_roles_roleId_permissions",
        "summary": "Replaces a role's grants and capabilities in one write.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "description": "The role's uuid, from `GET /api/apps/:id/roles`; a role of another app answers `404`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/role-permissions"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `not_found`, `validation_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "`role_id` in the body must name the role in the path, compared case-insensitively — a uuid is a value, not a string, and a client that uppercases them consistently must not be refused for repeating what the path says. A grant naming a robot the app does not have is refused rather than stored: a permission for something the role cannot reach reads as authoritative to whoever writes the next consumer. Every user holding this role has their live subscriptions re-authorized.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/role-permissions"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "get_api_apps_id_roles_roleId_permissions",
        "summary": "Reads a role's grants and capabilities.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "description": "The role's uuid, from `GET /api/apps/:id/roles`; a role of another app answers `404`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/role-permissions"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        }
      }
    },
    "/api/apps/{id}/roles/{roleId}/mcp-tools": {
      "get": {
        "operationId": "get_api_apps_id_roles_roleId_mcp_tools",
        "summary": "Previews the robot datasheets an MCP caller holding this role would be offered.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "description": "The role's uuid, from `GET /api/apps/:id/roles`; a role of another app answers `404`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcp-role-preview-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Built by the same builder the MCP server's own `robot_describe` uses, so the two cannot drift. It answers what the role *would* be offered and consults nothing about any user's actual MCP entitlement. A robot the role grants nothing on still appears, with an empty `exposures` — dropping it would read as \"not attached\", which is a different fact."
      }
    },
    "/api/apps/{id}/roles/{roleId}": {
      "patch": {
        "operationId": "patch_api_apps_id_roles_roleId",
        "summary": "Renames a role; its users keep it.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "description": "The role's uuid, from `GET /api/apps/:id/roles`; a role of another app answers `404`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/role"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `not_found`, `validation_error`, `role_name_taken`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Names are unique per app, compared exactly as stored after trimming. Built-in roles can be renamed.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/role-rename-request"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete_api_apps_id_roles_roleId",
        "summary": "Deletes a role, moving its users, pending invitations and default-role status to another role.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "description": "The role's uuid, from `GET /api/apps/:id/roles`; a role of another app answers `404`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "move_to",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Another role of the same app that takes over the deleted role's app users, pending invitations and, when it applies, the app's default. The role itself or a role of another app answers `400 validation_error`.",
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success."
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `not_found`, `validation_error`, `role_in_use`, `last_role`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Without `move_to`, a role that app users or pending invitations hold, or that is the app's default, answers `409 role_in_use` with `{ users, invitations, is_default }`. With `move_to` — another role of the same app, else `400 validation_error` — one transaction moves `app_users.role_id`, pending invitations and `default_role_id`, then deletes the role and its permissions. The app's only role answers `409 last_role`. Built-in roles can be deleted like any other."
      }
    },
    "/api/apps/{id}/server-keys": {
      "post": {
        "operationId": "post_api_apps_id_server_keys",
        "summary": "Mints a server key for the app and returns the raw secret once.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/create-server-key-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `tier_required`, `invalid_uuid`, `not_found`, `validation_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Owner tier only: a server key carries full app rights and outlives its creator's removal. The body is `{ \"name\": string }`, the same trivial shape role creation takes. `key` is the only moment the raw secret exists outside the caller's hands — it is never in a listing, never in an audit event, and cannot be read back."
      },
      "get": {
        "operationId": "get_api_apps_id_server_keys",
        "summary": "Lists the app's server keys as metadata, never the secrets.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server-key-list-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Answers `{ \"server_keys\": [serverKey, …] }`. `serverKey` names the five fields it carries rather than spreading the stored row — that is what keeps this listing from becoming a second place a credential leaves the cloud."
      }
    },
    "/api/apps/{id}/server-keys/{keyId}/rotate": {
      "post": {
        "operationId": "post_api_apps_id_server_keys_keyId_rotate",
        "summary": "Replaces a server key's secret in place and returns the new one once.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "description": "The server key's uuid, from `GET /api/apps/:id/server-keys`; a key of another app answers `404`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/create-server-key-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `tier_required`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Owner tier, for the reason creation is. The old secret is refused from this call on, and any `/realtime` socket that authenticated with it is closed — rotation is what a developer reaches for when a key has leaked, and the holder of that socket is exactly who they are rotating against."
      }
    },
    "/api/apps/{id}/server-keys/{keyId}": {
      "delete": {
        "operationId": "delete_api_apps_id_server_keys_keyId",
        "summary": "Revokes a server key and closes every socket holding it.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "description": "The server key's uuid, from `GET /api/apps/:id/server-keys`; a key of another app answers `404`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success."
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `tier_required`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Owner tier, like minting and rotating: all three decide who may speak for the whole app."
      }
    },
    "/api/apps/{id}/users": {
      "get": {
        "operationId": "get_api_apps_id_users",
        "summary": "Lists the app's users — the developer's own customers, not the Fleetless team.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app-user-list-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Answers `{ \"users\": [appUser, …] }`. **A different identity space from `GET /api/org/users`**, and nothing joins the two: an app user belongs to exactly one app, their address is unique per app rather than globally, and the same address may exist as unrelated accounts in several apps of one org. No password hash, no token and no provider secret appears here — `appUser` names the fields it carries rather than spreading the stored row."
      },
      "post": {
        "operationId": "post_api_apps_id_users",
        "summary": "Creates an app user directly, without an invitation or a self-registration.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app-user"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `validation_error`, `not_found`, `email_taken`, `target_state_conflict`, `quota_exceeded`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "The developer-authenticated door into the app's user table, and the one place `409 email_taken` is an honest answer about an app user: the caller is authenticated into this app already, so telling them the address is taken discloses nothing they could not read from the listing beside it. `POST /api/client/register` answers `202` to the same fact, because there the caller is a stranger. `404 not_found` is the app, or a `role_id` that is not a role of it — a role of another app is refused rather than stored, since a user holding one would carry rights nothing in this app can resolve. **The password policy answers `400 validation_error`**, not a code of its own: the twelve-character minimum is the `password` field's schema rule, and every route that takes a password refuses a short one exactly the way it refuses any other malformed field. An account created here is `active` immediately: a developer entering somebody by hand has made the decision the verification mail automates, and its address counts as proven. `409 target_state_conflict` names `default_role_id` when `role_id` is absent and the app has no default role, or its default names a role that no longer resolves — a user with no role holds rights nothing in this app can read, so nothing is created. \n\n**`409 quota_exceeded` when the org holds as many app users as `max_end_users` allows**, counted across every app of the org — the same number `GET /api/org/quotas` reports as `usage.max_end_users`, since the same address in two apps is two accounts. `details` carries `{ quota, limit }`, as every count quota's refusal does. The check is at **creation** only: an existing user signs in, is patched and is deleted at the quota exactly as under it, because a protection limit that also froze the accounts already made would be an outage rather than a limit.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create-app-user-request"
              }
            }
          }
        }
      }
    },
    "/api/apps/{id}/users/{userId}": {
      "get": {
        "operationId": "get_api_apps_id_users_userId",
        "summary": "Reads one user of the app.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "The app user's uuid, from `GET /api/apps/:id/users`; a user of another app answers `404`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app-user"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "A user of another app, or of another org, reads exactly like one that does not exist — `404`, never a `403`."
      },
      "patch": {
        "operationId": "patch_api_apps_id_users_userId",
        "summary": "Changes an app user's display name, role or status.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "The app user's uuid, from `GET /api/apps/:id/users`; a user of another app answers `404`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app-user"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `validation_error`, `not_found`, `target_state_conflict`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "The address is immutable: it is half of what identifies the account within the app, and a rewrite would silently move every token and invitation addressed to the old one. Setting `status` to `blocked` ends every session the user holds and closes their live `/realtime` subscriptions — blocking somebody who keeps a working socket is not blocking them. Moving them back to `active` mints nothing; they log in again. \n\n**`active` is a way out of `blocked` and out of nothing else.** An account still `pending_verification` answers `409 target_state_conflict` naming `status` with rule `unverified`: activating it would let somebody who typed an address they do not own log in without ever spending the mailed token. Unblocking restores the status the account had — `active` for one whose address was proven, `pending_verification` for one blocked before it ever verified. A write that names the status the account already holds changes nothing and mints no event, so it does not end the sessions a re-sent form would otherwise have killed. A `role_id` naming a role of another app is `404 not_found`, the same refusal creation makes.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/patch-app-user-request"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete_api_apps_id_users_userId",
        "summary": "Deletes an app user and ends every session they hold.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "The app user's uuid, from `GET /api/apps/:id/users`; a user of another app answers `404`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success."
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Sessions are revoked before the row goes, for the reason `DELETE /api/org/users/:id` states: a live user with a dead session is recoverable by retrying, a deleted user whose token still works is not. Outstanding invitations and unspent tokens for that address are expired with it — a link mailed before the deletion is a standing re-admission ticket. **Nothing outside this app is touched**: a Fleetless user sharing the address keeps their console account, and an account with the same address in a sibling app is a different person as far as this platform is concerned."
      }
    },
    "/api/apps/{id}/users/{userId}/reset-password": {
      "post": {
        "operationId": "post_api_apps_id_users_userId_reset_password",
        "summary": "Mails an app user a password-reset link on the developer's behalf.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "The app user's uuid, from `GET /api/apps/:id/users`; a user of another app answers `404`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mail-outcome"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `not_found`, `target_state_conflict`, `method_not_allowed`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "The support door beside `POST /api/client/password/reset`, refused like it with `403 method_not_allowed` while the app has the password method off: the same one-hour token and the same link, triggered by a developer for a user who asked them rather than the form. **No enumeration discipline applies** — the caller is authenticated into the app and can read the user list — so this one answers what actually happened: `{ \"mail\": mailStatus }`, where `not_configured` is a deployment without a mailer and `failed` is the state worth somebody's attention. The link points at the app's `reset_url`, or at the hosted reset page when the app has configured none. `409 target_state_conflict` names `password` with rule `not_set` for an account that has none — an OIDC-only app user, whom a reset link would hand a second, quieter door — and `status` with rule `blocked` for a blocked one, since `POST /api/client/password/reset` mails a blocked account nothing and the two doors may not disagree. Setting the password directly is deliberately not offered; a developer who could would hold their customers' credentials."
      }
    },
    "/api/apps/{id}/users/{userId}/two-factor": {
      "delete": {
        "operationId": "delete_api_apps_id_users_userId_two_factor",
        "summary": "Removes an app user's authenticator and recovery codes and ends every session they hold.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "The app user's uuid, from `GET /api/apps/:id/users`; a user of another app answers `404`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success."
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "The support door for a person who lost their authenticator and their recovery codes. The authenticator and every recovery code go, and so does every session of the account — whoever held one may be the reason for the reset. **A user with no second factor answers `204` too**: that is the end state being asked for. When the app requires two-factor, the person sets it up again at their next sign-in, before any session exists. Audited as `app_user.two_factor_reset`."
      }
    },
    "/api/apps/{id}/users/{userId}/mcp-grants": {
      "get": {
        "operationId": "get_api_apps_id_users_userId_mcp_grants",
        "summary": "Lists the MCP clients one app user has consented to.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "The app user's uuid, from `GET /api/apps/:id/users`; a user of another app answers `404`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcp-consent-grant-list-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "A consent is remembered so that a later authorization can skip the app's own screen, and a client's registration lapsing does not end it — so a person who approved something once had no way back and neither did the developer supporting them. This is the reading half of that door. \n\n**Every name here is a claim the client made about itself.** Dynamic registration takes no credential, so `client_name` is attacker-chosen text, unverified on every row, and `client_name_verified` is the literal `false`; a console that renders it as an identity is rendering a string somebody picked. **Withdrawn grants are absent** rather than listed as withdrawn: the question is what is connected now. \n\nThe user is scoped to the app and the app to the org, so a user of a sibling app and one that does not exist read identically — `404`, never a `403`. **A developer sees which clients their customer connected and nothing those clients did**: this route reads the consent table alone, and no scope, token or session of the person appears in it, because the authorization server issues no scopes at all."
      }
    },
    "/api/apps/{id}/users/{userId}/mcp-grants/{clientId}": {
      "delete": {
        "operationId": "delete_api_apps_id_users_userId_mcp_grants_clientId",
        "summary": "Withdraws one app user's consent to an MCP client, on the developer's behalf.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "The app user's uuid, from `GET /api/apps/:id/users`; a user of another app answers `404`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "description": "The MCP client, as `GET /api/apps/:id/users/:userId/mcp-grants` reports its `client_id`. Not a uuid — the identifier dynamic registration issued.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success."
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "The support door beside `DELETE /api/client/mcp/grants/:clientId`, which is the same act by the person themselves. Audited as `app_user.mcp_grant_revoked`, whose `details` carry the client id and the app's uuid — and nothing else, in particular no token and no name the client chose for itself. \n\n**`204` whether or not there was anything to withdraw**, so a double-clicked button and a client id no grant names both land on the end state the caller asked for. The alternative — `404` for a client this user never approved — would make the route an oracle for which clients somebody has connected, answered before the listing beside it was read; and it would turn the ordinary retry into a refusal. Only a withdrawal that actually ended a standing agreement writes an audit event, so the log counts consents ended rather than buttons pressed. **`404` is still the app and the user**, which are the two things the caller must own. \n\n**It ends a session already running, at that client's very next call.** The app's MCP endpoint reads this table on every request, beside the account checks it already makes, so a withdrawn client is answered `401` with the `WWW-Authenticate` challenge that sends it back to the consent screen. The refusal is keyed on the `client_id` the access token carries, so it bites at the next call rather than at the next token: that token is still unexpired — up to fifteen minutes are left on it — and is refused anyway. Only this client stops. The person's other clients and their own use of the app are untouched, which is the difference from blocking the account (`PATCH /api/apps/:id/users/:userId`)."
      }
    },
    "/api/apps/{id}/invitations": {
      "get": {
        "operationId": "get_api_apps_id_invitations",
        "summary": "Lists the app's outstanding invitations, without their tokens.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app-invitation-list-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Answers `{ \"invitations\": [pendingAppInvitation, …] }` — pending only, since an accepted invitation is history rather than something to revoke. **No `accept_url`**, the rule the team listing already keeps: this list exists so a developer can see what is outstanding and withdraw it, and neither needs the token, while a list that carried it would turn every screenshot and browser-history entry of that page into a live credential for somebody else's account. `mail` is omitted too — it described what happened at creation time, and re-serving it invites a reader to take it as current."
      },
      "post": {
        "operationId": "post_api_apps_id_invitations",
        "summary": "Invites an address into the app with a role, and optionally mails the link.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app-invitation"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `validation_error`, `not_found`, `email_taken`, `target_state_conflict`, `rate_limited`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "**An app user, not a team member.** `POST /api/org/invitations` is the other space and leads to the console; this link leads into the developer's own app. The role is resolved and stored now, so a later change to `default_role_id` does not re-aim a link already sent. An invitation **always bypasses `allowed_domains`**. \n\nThe answer carries `accept_url`: the app's `invite_url` with the token in it, or the Fleetless-hosted invitation page when the app has configured none — so mailing it is never refused for a missing URL. `409 target_state_conflict` names `default_role_id` when `role_id` is absent and the app has no default role, or its default no longer resolves: an invitation that names no role has nothing to hand its acceptor, so it is refused here rather than at the acceptance a week later. `409 email_taken` is an address the app already has as a user; `404 not_found` is the app or a `role_id` that is not one of its roles. \n\nCreating shares the reissue route's ceiling of **five invitation mails a minute per app**, answering `429 rate_limited` with `retry_after_ms`: re-creating an invitation for one address replaces it and mails again, so a limit that bound only reissue would be a limit on the wrong door.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create-app-invitation-request"
              }
            }
          }
        }
      }
    },
    "/api/apps/{id}/invitations/{invId}/reissue": {
      "post": {
        "operationId": "post_api_apps_id_invitations_invId_reissue",
        "summary": "Mints a fresh token onto the same invitation and returns the new link.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invId",
            "in": "path",
            "required": true,
            "description": "The invitation's uuid, from `GET /api/apps/:id/invitations`; an invitation of another app answers `404`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app-invitation"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `not_found`, `rate_limited`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "The old link stops resolving the instant this returns: the row is found by token hash and the previous hash is gone. Two live links to one invitation would reopen the door the listing's missing `accept_url` closes. \n\n**The answer carries a new `id`.** The old row is revoked and a fresh one takes its place, so a caller holding the previous `id` gets `404` from its next revoke or reissue: re-read the listing after this call rather than keeping the id you sent. The seven days start again. \n\nLimited server-side to **five reissues a minute per app** — shared with `POST /api/apps/:id/invitations`, since both mint a link and mail it — answering `429 rate_limited` with `retry_after_ms`. A disabled button is a hint, this is the limit. An invitation that has already been accepted is not pending and answers `404`."
      }
    },
    "/api/apps/{id}/invitations/{invId}": {
      "delete": {
        "operationId": "delete_api_apps_id_invitations_invId",
        "summary": "Revokes a pending invitation so its link stops resolving.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invId",
            "in": "path",
            "required": true,
            "description": "The invitation's uuid, from `GET /api/apps/:id/invitations`; an invitation of another app answers `404`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success."
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "An invitation that was already accepted is not pending and answers `404`, the same answer one that never existed gets — the account it created is a user now, and deleting that is `DELETE /api/apps/:id/users/:userId`. A revoked token answers `410 token_spent` at `POST /api/client/invitations/accept`, the same answer one that expired or never existed gets — the developer withdrew it deliberately, and an answer saying so would tell whoever still holds the link that it was once real."
      }
    },
    "/api/apps/{id}/oidc-providers": {
      "get": {
        "operationId": "get_api_apps_id_oidc_providers",
        "summary": "Lists every OIDC provider configured on the app, enabled or not.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app-oidc-provider-list-response"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "Answers `{ \"providers\": [appOidcProvider, …] }` — **the management view, so a disabled provider is here** and is absent from the public `GET /api/client/providers`. An app may have any number: the at-most-one rule this replaces was a property of the deleted group, not of identity, and a developer serving two customers needs two. **No client secret appears in the answer**, by construction of `appOidcProvider` — a secret a response can carry is a secret in every log that captured a response, which is the rule server keys and the deleted group provider already kept."
      },
      "post": {
        "operationId": "post_api_apps_id_oidc_providers",
        "summary": "Configures an OIDC provider on the app after checking that its issuer answers.",
        "tags": [
          "apps"
        ],
        "security": [
          {
            "developerSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The app's uuid, as returned by `POST /api/apps` or listed by `GET /api/apps`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app-oidc-provider"
                }
              }
            }
          },
          "default": {
            "description": "An error envelope. Codes this route is known to answer: `unauthorized`, `token_expired`, `token_revoked`, `invalid_uuid`, `validation_error`, `not_found`, `duplicate_slug`, `provider_misconfigured`, `idp_unavailable`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-error"
                }
              }
            }
          }
        },
        "description": "**Discovery runs before the row is written**, so a provider that cannot work is refused while the developer is looking at the form rather than a week later in an app user's failed sign-in. `502 idp_unavailable` is an issuer that could not be reached and may work on a retry; `422 provider_misconfigured` is one that answered with something unusable — not a discovery document, an `issuer` disagreeing with the configured one, or an `authorization_endpoint`, `token_endpoint` or `jwks_uri` that is not an http(s) URL — and will answer the same until somebody changes the configuration. That is the whole reason the two codes are separate: one says wait, the other says fix it. \n\nThe issuer is **shape-checked** by `idpIssuer` (http(s), no credentials, query or fragment) and that is not the SSRF defence: it cannot tell a loopback dev provider from a loopback database, and the real check refuses loopback, link-local and private ranges at the fetch itself. `409 duplicate_slug` is a slug this app already uses — slugs are unique per app and immutable, since linked identities are keyed by them. `404 not_found` is the app. **The client secret goes in here and comes back out of nothing**: not this answer, not the read, not an audit detail.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
[...]
